.entry {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 5px;
    gap: 3px;
    width: 100%;
    user-select: none;
}

.entry-wrapper {
    padding-right: 15px;
    background-color: transparent;
    outline-color: transparent;
}

.entry-dropzone {
    background-color: var(--secondary-bg-color-lighter);
    outline: 1px dashed rgb(146, 146, 146);
    outline-offset: -1px;
    transition: background-color 0.2s ease,  outline-color 0.2s ease;
}

.pseudo-entry {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px 5px 5px;
    gap: 3px;
    width: 100%;
}

.entry-buttons {
    display: flex;
    align-content: center;
    gap: 5px;
    opacity: 0;
    pointer-events: all;
}

.entry-buttons.disabled {
    pointer-events: none;
}

.icon-button {
}

.icon-button:hover {
    /*background-color: gray;*/
    border-radius: 50px;
}

.entry:hover {
    cursor: pointer;
    background-color: var(--secondary-bg-color);
}

.entry:hover .entry-buttons{
    opacity: 100;
}

.entry-name {
    display: flex;
    align-content: center;
    gap: 5px;
}

.entry-name.disabled {
    pointer-events: none;
}

.entry-input {
    border: none;
    margin:0;
    margin-left: -3px;
    padding: 0;
    padding-left: 3px;
    height: 23px;
    width: 100%;
    font-size: 16px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.entry-input:focus {
    outline: none;
}